:root {
    --shadow: 0 1px 4px rgba(0,0,0,.25);
    --gradient: linear-gradient(-45deg, #ff1c1c, #ff5656);
    --c1: #fff;
    --c2: #000;
    --green: #00b335;
    --red: #ff424e;
    --dark: #333333;
    --blue: #00b1f4;
    --hover: #efefef;
    --cinza: #d8d8d8;
}

body, html {
margin: 0;
padding: 0;
outline: none;
}


button {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    background: transparent;
}


span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
    box-sizing: border-box;
    display: block;
}

div {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}


span {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    box-sizing: border-box;
    display: block;
}



#main {
    background-image: var(--gradient);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    flex-direction: column;
    width: 100vw;
    max-height: 600px;
}


.telaInicial {
    flex-direction: column;
    align-items: center;
    height: calc(100% - 43px);
}

.telaInicial button,
.voltarBtn {
    background-color: var(--c1);
    padding: 18px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    max-width: 300px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px 0 rgba(0,0,0,.6);
    transition: .2s ease all;
    font-size: 20px;
    line-height: 1;
}

.telaInicial button:hover,
.voltarBtn:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0 rgba(0,0,0,.6);
    background-color: var(--hover);
}


.telaInicial button span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    pointer-events: none;
}

.voltarBtn {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);   
}


.facilBtn span {
    color: var(--green);
}

.dificilBtn span {
    color: var(--red);
}

.normalBtn span {
    color: var(--dark);
}


.header * {
    margin: 0 auto;
    display: block;
    position: relative;
}


.gameArea {
    margin-top: 40px;
    flex-grow: 1;
    grid-template-columns: repeat(4, 100%);
    overflow: hidden;
    align-items: start;
}


.headerTelaJogo {
    flex-grow: 1;
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.placar {
    font-size: 20px;
    color: var(--c1);
    font-weight: 600;
}

.headerTelaJogo button {
    font-size: 37px;
}

.areaJogo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}



.cardsWrapper {
    padding: 20px;
    background-color: var(--c1);
    border-radius: 7px;
    box-shadow: 4px 4px 0 rgba(0,0,0,.6);
    transition: .2s ease all;
    font-size: 20px;
    line-height: 1;
}


.areaJogoFacil .card {
    width: 120px;
    height: 120px;
}
.areaJogoNormal .card {
    width: 90px;
    height: 90px;
}
.areaJogoDificil .card {
    width: 60px;
    height: 60px;
}


.cardsWrapper {
    grid-gap: 20px;
}

.areaJogoFacil .cardsWrapper {
    grid-template-columns: 1fr 1fr;
}

.areaJogoNormal .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
}

.areaJogoDificil .cardsWrapper {
    grid-template-columns: repeat(4, 1fr);
}

.cardSides {
    border-radius: 5px;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective: 1000;
    width: 100%;
    height: 100%;
}




.cardsWrapper-facil .front div {
    font-size: 2.3em;
}


.card {
    display: inline-block;
    perspective: 1000px;
    cursor: pointer;
    pointer-events: all;
    transition: .5s ease all;
}  


.front, .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .3s ease-in transform;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
}

.front {
    background: var(--blue);
    transform: rotateY(180deg);
    font-size: 1.2em;
}

.front div {
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.back {
    background: linear-gradient(135deg, #eceddc 25%, transparent 25%),
    linear-gradient(225deg, #eceddc 25%, transparent 25%),
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%); 
    background-size: 30px 30px;
    background-color: var(--cinza);
    overflow: hidden;
}


.footerTelaJogo {
    margin-top: 40px;
    align-items: center;
}


.footerTelaJogo span {
    font-size: 20px;
    color: var(--c1);
}

.footerTelaJogo span:last-child {
    background-color: var(--c1);
    margin-left: 5px;
    border-radius: 4px;
    padding: 4px 8px;
    font-weight: 600;
}


.areaJogoFacil .footerTelaJogo span:last-child {
    color: var(--green);
}

.areaJogoNormal .footerTelaJogo span:last-child {
    color: var(--dark);
}

.areaJogoDificil .footerTelaJogo span:last-child {
    color: var(--red);
}






.telaFinal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: var(--gradient);
    top: 110%;
    left: 0;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    transition-delay: 0.3s;
    align-items: center;
    justify-content: center;
}


.telaFinalVisivel {
    top: 0;
}


.contentTelaFinal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contentTelaFinal span:nth-of-type(1) {
    font-size: 50px;
    margin-bottom: 20px;
}

.contentTelaFinal span:nth-of-type(2) {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--c1);
}


.contentTelaFinal span:nth-of-type(3) {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--c1);
}

.contentTelaFinal img {
    margin-top: 60px;
}







@media (min-width: 320px) and (max-width: 499px) {
    .gameArea {
        margin-top: 15px;
    }
    .telaInicial button, .voltarBtn {
        margin: 6px 0;
    }
    .footerTelaJogo {
        margin-top: 20px;
    }

    .areaJogoDificil .card {
        width: 46px;
        height: 46px;
    }

    .areaJogoNormal .card {
        width: 69px;
        height: 69px;
    }

    .areaJogoFacil .card {
        width: 92px;
        height: 92px;
    }

    .back {
        background-size: 23px 23px;
    }

    .contentTelaFinal img {
        margin-top: 30px;
    }
}